html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5f5;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.main-header {
    height: 30vh;
    background: linear-gradient(#2E8B57, #20B2AA);
}

h1 a, h1 a:active, h1 a:focus, h1 a:hover {
    color: inherit!important;
    outline: none!important;
    text-decoration: none!important;
}

.bg-black {
    background-color: transparent;
    background: linear-gradient(#000000, #000000);
    transition: all 0.5s;
}

.bg-green {
    background-color: transparent;
    background: linear-gradient(to right top, #2E8B57, #20B2AA);
    transition: all 0.5s;
    color: white;
}

.bg-green-topdown {
    background-color: transparent;
    background: linear-gradient(to bottom, #2E8B57, #20B2AA);
    transition: all 0.5s;
}

.bg-trans {
    background-color: transparent;
    transition: all 0.5s;
    border-radius: 17.5px 17.5px 0px 0px;
}

.bg-cur {
    background-color: white;
    color: black!important;
    border-radius: 17.5px 17.5px 0px 0px;
    transition: all 0.5s;
}

.nav-link {
    cursor: pointer;
}

.nav-item {
    margin: 0px 3vw;
    color: white;
}

.row img {
    border-radius: 50%;
    width: 10vw;
    transition: all 0.5s;
}

.row  figure:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.row figure {
    transition: all 0.5s;
}

.header-image {
    width: 15vw;
    border: 10px solid white;
    border-radius: 50%;
    transform: translateY(50%);
}

.main-info {
    width: 80vw;
    margin-bottom: 10vh;
    padding-top: 7.5vw;
    padding-bottom: 10vh;
}

.main-info .container-fluid, .main-info a {
    font-size: 25px;
}

.main-info p {
    font-size: large;
}

.main-nav {
    height: 0;
    width: 80vw;
    margin-top: 10vh;
    transform: translateY(300%);
    font-size: 20px;
}

